<script lang="ts">
	import Canvas from "./Canvas.svelte"
	import { createCellAtOrigin, type ICell } from "./cells"

	let cells: ICell[] = [createCellAtOrigin("coucou"), { text: "bonsoir", x: 100, y: 200 }]

	function handleAddCell() {
		cells = [...cells, createCellAtOrigin("salut")]
	}

	function handleCellChange(event) {
		const { cell, index } = event.detail
		cells = [...cells.slice(0, index), ...cells.slice(index + 1), cell]
	}

	$: console.log(cells)
</script>

<div class="flex flex-col fixed inset-0 select-none">
	<div class="p-4 bg-gray-200">Mega Cells</div>
	<div class="flex-grow overflow-hidden">
		<Canvas {cells} on:cellChange={handleCellChange} />
	</div>
	<div class="p-4 bg-gray-200 flex space-x-4">
		<button on:click={handleAddCell}>Add cell</button>
	</div>
</div>
