<script lang="ts">
	import clsx from "clsx"
	import Cell from "./Cell.svelte"
	import type { ICell } from "./cells"
	import Panzoom from "./Panzoom.svelte"
	import { createEventDispatcher } from "svelte"

	const dispatch = createEventDispatcher()

	export let cells: ICell[]
	export let smoothScroll: boolean = false

	let panzoomEnabled = false
	$: panzoomOptions = { smoothScroll }

	function handleCellDragEnd(event, index: number) {
		const { offsetX: x, offsetY: y } = event.detail
		const cell = cells[index]
		dispatch("cellChange", { cell: { ...cell, x, y }, index })
	}

	function handleCellTextChange(event, index: number) {
		const { value: text } = event.target
		const cell = cells[index]
		dispatch("cellChange", { cell: { ...cell, text }, index })
	}

	// function handleClick(event: MouseEvent) {
	// 	console.log(event)
	// }

	function handleKeyDown(event: KeyboardEvent) {
		const { code } = event
		if (code === "Space") {
			panzoomEnabled = true
		}
	}

	function handleKeyUp(event: KeyboardEvent) {
		const { code } = event
		if (code === "Space") {
			panzoomEnabled = false
		}
	}

	let isPanning = false

	function handlePanStart() {
		isPanning = true
	}

	function handlePanEnd() {
		isPanning = false
	}
</script>

<svelte:window on:keydown={handleKeyDown} on:keyup={handleKeyUp} />

<!-- <div on:click={handleClick} style:height="100%">
</div> -->

{#if panzoomEnabled}
	<div class={clsx("fixed inset-0 z-10", isPanning ? "cursor-grabbing" : "cursor-grab")} />
{/if}

<Panzoom enabled={panzoomEnabled} options={panzoomOptions} on:panstart={handlePanStart} on:panend={handlePanEnd}>
	{#each cells as { x, y, text }, index}
		<Cell draggable={!panzoomEnabled} {x} {y} on:dragEnd={(event) => handleCellDragEnd(event, index)}>
			<input type="text" value={text} on:change={(event) => handleCellTextChange(event, index)} />
		</Cell>
	{/each}
</Panzoom>
