<script lang="ts">
	import clsx from "clsx"
	import { createEventDispatcher } from "svelte"
	import { draggable as draggableAction, type DragOptions } from "@neodrag/svelte"

	export let draggable: boolean
	export let x: number
	export let y: number

	const dispatch = createEventDispatcher()

	let handleElement: HTMLElement

	let options: DragOptions
	$: options = {
		disabled: !draggable,
		handle: handleElement,
		position: { x, y },
	}

	let isDragging = false

	function handleNeodragStart(event) {
		isDragging = true
	}

	function handleNeodragEnd(event) {
		isDragging = false
		dispatch("dragEnd", event.detail)
	}
</script>

<div
	class={clsx("absolute inline-flex border rounded-md border-gray-200 bg-white", isDragging && "z-10")}
	on:neodrag:start={handleNeodragStart}
	on:neodrag:end={handleNeodragEnd}
	use:draggableAction={options}
>
	<span class={clsx("p-2 mr-2 bg-gray-100", draggable ? "cursor-grab" : "text-gray-400")} bind:this={handleElement}>
		Q
	</span>
	<slot />
</div>
