<script lang="ts">
	import type { Action } from "svelte/action"
	import createPanzoom, { type PanZoom, type PanZoomOptions } from "panzoom"
	import { createEventDispatcher } from "svelte"

	export let enabled: boolean = true
	export let options: PanZoomOptions

	const dispatch = createEventDispatcher()

	interface PanzoomActionParams {
		enabled?: boolean
		options?: PanZoomOptions
	}

	const panzoomAction: Action<HTMLElement, PanzoomActionParams> = (node, params) => {
		function update(params: PanzoomActionParams) {
			const { enabled } = params ?? { enabled: true }
			if (enabled && panzoom.isPaused()) {
				panzoom.resume()
			} else if (!enabled && !panzoom.isPaused()) {
				panzoom.pause()
			}
		}

		const { options } = params ?? { options: {} }
		const panzoom = createPanzoom(node, options)
		update(params ?? {})

		for (const eventName of ["panstart", "pan", "panend", "zoom", "zoomend", "transform"]) {
			panzoom.on(eventName, (event) => {
				dispatch(eventName, event)
			})
		}

		return {
			destroy() {
				panzoom.dispose()
			},
			update,
		}
	}
</script>

<div use:panzoomAction={{ enabled, options }}>
	<slot />
</div>
